.tooltip {
position: relative;
display: inline-block;
/*color: rgb(252, 119, 119); */
color: #cbd9f4;
cursor: pointer;
/* border-bottom: 1px dotted black; */
}

.tooltip_selected {
position: relative;
display: inline-block;
color: rgb(252, 119, 119);
cursor: pointer;
}

@media all and (min-width: 769px) {
.tooltip .tooltiptext5 {
  visibility: hidden;
  width: 170px;
  height: 40px;
  background-color: #071022;
  color: #cbd9f4;
  text-align: center;
  border-radius: 6px;
  border: solid 1px black;
 /* border-bottom: #071022; */
  /* padding: 5px ; */
  font-size: 15px;
  font-weight: normal;
  font-family: Calibri;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -85px; 
  line-height: normal;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

} }

@media all and (max-width: 768px) {
  .tooltip .tooltiptext5 {
    visibility: hidden;
    width: 100%;
    height: 40px;
    background-color: #071022;
    color: #cbd9f4;
    text-align: center;
    border-radius: 6px;
    border: solid 1px black;

    font-size: 15px;
    font-weight: normal;
    font-family: Calibri;
  
    position: fixed;
    left: 0;
    z-index: 1;
    bottom: 0;

    line-height: normal;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  
  } }

#editbtn {

  color: rgb(0, 255, 34);
  border: 1px solid rgb(0, 255, 34);
}

#delbtn {
  color: red;
  border: 1px solid red;
}


.tooltip_opt {

  width: 60px;
  border-style: solid;
  padding: 2px;
  border-radius: 2px;
  background-color: #071022;
  color: #cbd9f4;
  font-family: Calibri;
  position:relative;
  font-size: 17px;
  cursor: pointer;
  background-color: #172136;
 
}


.tooltip:hover .tooltiptext5 {
  visibility: visible;
} 

.tooltip_opt:hover {
  background-color: #040a16;
} 


.tooltip:hover {
  color: rgb(252, 119, 119);
}
